<a href="https://colab.research.google.com/github/SK2810/python-V1/blob/main/LinearRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [28]:
data=pd.read_csv("/content/insurance.csv")

In [29]:
data.head() #it shows first 5 rows of the dataset

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [30]:
data.info() #analyze the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [31]:
data.describe() #gives statastical analysis

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [32]:
#STEP 2: DATA PRE PROCESSING
#To convert catagorial variables into numerical variables
#Using ONE HOT encoding
data['smoker']=data['smoker'].apply({'yes':1,'no':0}.get)

In [33]:
data.head()

   age     sex     bmi  children  smoker     region      charges
0   19  female  27.900         0       1  southwest  16884.92400
1   18    male  33.770         1       0  southeast   1725.55230
2   28    male  33.000         3       0  southeast   4449.46200
3   33    male  22.705         0       0  northwest  21984.47061
4   32    male  28.880         0       0  northwest   3866.85520

In [34]:
data['sex']=data['sex'].apply({'male':1,'female':0}.get)

In [35]:
data.head()

   age  sex     bmi  children  smoker     region      charges
0   19    0  27.900         0       1  southwest  16884.92400
1   18    1  33.770         1       0  southeast   1725.55230
2   28    1  33.000         3       0  southeast   4449.46200
3   33    1  22.705         0       0  northwest  21984.47061
4   32    1  28.880         0       0  northwest   3866.85520

In [36]:
data['region']=data['region'].apply({'southwest':1,'southeast':2,'northwest':3,'northeast':4}.get)

In [37]:
data.head() #all 'object data types are converted to int

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       1  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       3  21984.47061
4   32    1  28.880         0       0       3   3866.85520

In [39]:
#STEP 3: division of data into Independent and Dependent columns
X=data[['age','sex','bmi','children','smoker','region']] #All dependent heads in X
y=data['charges']

In [40]:
X.head()

   age  sex     bmi  children  smoker  region
0   19    0  27.900         0       1       1
1   18    1  33.770         1       0       2
2   28    1  33.000         3       0       2
3   33    1  22.705         0       0       3
4   32    1  28.880         0       0       3

In [41]:
y.head()

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

In [60]:
#Spliting the data into train and test ratios
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2) #this means test size is 20%

In [61]:
#Create machine learning model 'Linear Regression'
from sklearn.linear_model import LinearRegression
linearmodel=LinearRegression()
linearmodel.fit(X_train,y_train) #training the model

LinearRegression()

In [62]:
#predictions
linearmodel.predict(X_test)

array([37052.46849323,  9994.55736701,  6075.47396597,  5013.57430678,
        7888.89568619, 10508.42370227, 13971.93822932, 10107.36903046,
       17684.78492598, 15345.54479919, 18359.13664662, 10865.19507025,
       11678.17544678, 35930.7547987 , 12541.18209285,   892.62765478,
       11709.54860249, 16015.83607615,  3794.59347027, 26183.32804653,
       15092.59519395, 13707.97040323,  8405.44274139, 13455.98875035,
        4121.27734167, 11310.96535636, 38703.58393099,  5801.22432532,
       31125.89687844, 10909.47433518,  2878.33278903,  3284.6863029 ,
       -2097.0104525 ,  9266.94028412,  8185.7661654 , 31040.24827781,
        8486.64488158, 12713.45829569, 13367.43022048, 16039.75464115,
       34131.2502615 ,  2941.88001333, 39021.66594815,  5341.0559663 ,
        3174.77464023, 10173.12012372, 26352.959765  , 10457.25913356,
       10649.88976109, 15469.32869684, 11039.72762885, 31910.5452399 ,
       11143.07015089, 28385.62488414, 11683.92956213, 39133.08590562,
        8044.48987691,  2950.94782493, 14313.90064663, 12371.77166439,
        5426.05764919, 10836.03393287, 28590.08096818,  5429.36202757,
       12802.4085099 , 31413.87842275,  4256.01084664, 10227.77681142,
       36771.9711746 ,  2132.0249084 , 11503.75957453, 38389.92389378,
       11547.44806692, 10807.00479487, 15158.98932163,  6003.11992854,
        5697.36134993, 12186.97293187,  4623.56127071, 16982.2199333 ,
        8180.61397226, 28490.58021958, 10465.03760359,  6000.28651159,
          64.50469718,  1641.52369495,  6003.48786747, 11054.0927389 ,
        1872.2110775 , 11158.19404353, 11186.28089868,  1328.43635244,
       14901.85448451,  2194.70555363, 12653.19198735, 16306.42243871,
       26478.16223882,  7159.66659842,  3333.61340868,  1438.77420592,
        6857.8145453 , 22808.22412633, 13909.22114541, 33370.53953397,
       13428.2012411 ,  4441.10874766,  1722.63878377,  6818.387062  ,
        6338.53643754, 15188.46951144, -1741.23919123, 31373.85452631,
        3345.74224999,  7418.7257626 ,  3470.72709219,  6363.32013551,
        5148.08357953,  8729.96830246,  2805.9314668 , 14030.84640514,
       12683.5455394 ,   464.10894556,  5264.45882562, 40743.74919945,
       12299.34070718, 11067.29842413, 36102.52811586, 24895.80427245,
       17028.09992897, 34007.20851066,  8966.13092198, 27047.89636487,
       14995.5451205 , 12193.2582222 ,  4098.91173649, 11646.03738884,
       27174.7085068 , 10805.45117153, 13104.25896132, 16645.09977666,
       19222.16805326, 17463.80402296, 11619.13888246,  6841.449587  ,
       33958.83484808, 15530.82675838,  4296.84817183, 27138.65117201,
       13846.77826633, 12338.72146876,  6074.63801299,  3377.80521476,
        9164.92278673, 36208.77579317,  9738.11670544,  9436.72980116,
        9814.63428603,  1269.02242572, 13866.58493946, 12143.71527977,
       35200.5985432 , 10614.22827403, 31687.78633115, 17737.14185643,
       12079.33527478, 16680.19019769,  7975.55952398,  8164.1881898 ,
       10599.96037389,  2913.90072457, 31681.25878368,  9215.76959576,
       32635.98808882,  8783.0336829 ,  9627.62077039,  6832.88551711,
        5552.74875881,  3143.75857733, 12569.67889276, 13074.02514342,
       12844.72987432,  4463.23498499,  8446.97127425, 12666.61977112,
       33695.44217442, 12310.50342274, 11941.08509687, 40981.30080765,
        7888.58833592, 10838.64390561,  3587.58861274, 10830.50663712,
        5197.54861107, 10260.83137354,  6058.12040519, 16192.38641583,
        5764.69087462, 35817.23882167, 15393.80888618, -2275.13127734,
       35146.12550617, 15348.41656358,  6993.08321124, 31599.06898462,
        1881.99711713,  3536.01059941,  3402.07323336, 10439.38732655,
        2855.54515644,  6792.89224676,  3499.91309057, 32481.6812834 ,
        1289.05559086, 13880.49158341,  6832.98412562,  8963.95252462,
        2300.82882325,  7049.87977146, 28142.51540702,  4441.88522758,
        1574.19457775, 13227.96339932,  5395.85856783, -1095.64831677,
        2312.13125955,  6678.80012619, 15139.38123171,  4164.07855737,
        4299.90564358,  4891.21396236,  5773.91709538,  7077.08501751,
        4200.68537507, 27419.30761082, 18027.92281623,  3399.70384449,
       23726.02606524,  7636.0556036 ,  6834.77106872,  8572.53124836,
        9174.30132398, 11467.71338939,  5139.30800309,  5755.97172345,
       12975.67176103, 27585.37549604,  7580.440892  , 13890.09595457,
       14031.83678131, 11451.4243803 ,  6762.55025186, 14342.62028015,
       13450.9888737 , 15905.0177608 ,  9806.6351895 , 15466.63743783,
       16309.68944024, 14772.90350868, 11353.7087482 , 29877.12446295,
       14796.67846964,  9862.58726686,  7835.64502639, 12956.54118562,
       11533.37542211, 13447.28115633, 37055.93034258, 16189.51465144])

In [63]:
#Calculate accuracy of the model
linearmodel.score(X,y) #anything above 70 accuracy is decent

0.7503447623935298

In [67]:
#Predict with new data set
data_new={'age':67,'sex':1,'bmi':23,'children':2,'smoker':1,'region':3}
index=[1] #serial number
my_data=pd.DataFrame(data_new,index)

In [68]:
my_data.head()

   age  sex  bmi  children  smoker  region
1   67    1   23         2       1       3

In [69]:
#to check predicted charges for above data 
my_data_charges=linearmodel.predict(my_data)
print("The charges to be paid by the new customer ",my_data_charges)

The charges to be paid by the new customer  [37221.55194998]